{% extends "base.html" %}

{% block content %}

<h2 class="title">🏥 MediLink Dashboard</h2>

<div class="container">

    <div class="dashboard">

        <div class="card">
            <h3>👨‍⚕️ Doctor</h3>
            <a href="/doctor">Enter</a>
        </div>

        <div class="card">
            <h3>🧑 Patient</h3>
            <a href="/patient">Enter</a>
        </div>

        <div class="card">
            <h3>💊 Pharmacist</h3>
            <a href="/pharmacist">Enter</a>
        </div>

    </div>

</div>

{% endblock %}